
body {
    background:linear-gradient(to right,#acb6e5,#74ebd5);
  }
  h1 {
    text-align: center;
    color: #1f746d;
    font-family: 'Wonder', sans-serif;
    font-size: 50px;
  }
  .parent-div {
    width: 900px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    }
 .game-card {
        /*calc func take margin under consideration by sub margin from w and h */
        width: calc(25% - 20px);
        height: calc(25% - 0px);
        margin: 10px;
        position: relative;
        cursor: pointer;
        /* for transition work, we add this line*/
        transform: scale(1); 
        /* add 3D effects to the cards when we add preserve-3d the parent should have perspective property */
         transform-style: preserve-3d;
        transition: transform .5s;
      }
      /* set a click effect to the each card so it will be triggered whenever an element gets clicked*/
       .game-card:active {
        transform: scale(0.97);
        transition: transform .2s;
       } 
     
      .card-front,.card-back {
        width: 75%;
        height: 75%;
        padding: 20px;
        position: absolute;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 2px black;
      }
       .card-style{
            position: absolute;
            height: 150px;
            width: 150px;
            cursor: pointer;
            border-radius: 20%; 
            backface-visibility: hidden;
          
        }
  #play-game {
    position: relative;
    display: inline-block;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-left: 45%;
    font-size: 20px;
    background-color: rgb(45, 118, 126);
    color: white;
    font-family: 'Wonder', sans-serif;
    padding: 3px;
  }
  .moves-time{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .moves {

    font-size: 30px;
    
    font-family: 'Wonder', sans-serif;
  }
  .moves p{
      margin: 0;
  }
  .time {
   
    font-size: 30px;
   
    margin-left: 40px;
    font-family: 'Wonder', sans-serif;
    
  }
  /* Set the flip class*/
  .game-card.flip {
      /*when flipped class is present we are gonna rotate it to 180 degree*/
    transform: rotateY(180deg);
   } 
  /* we setbackface-visibility:hidden and we rotate 180 deg in y-axis so we can see it */
   .card-front {
    transform: rotateY(180deg);
  }  